{% extends "base.html" %}
{% load sum_attributes %}
{% load date_time %}
{% load humanize %}
{% load static %}
{% load tz %}

{% block title %}Bank{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

    <div class="row">
        <div>
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="{{ previous }}">Previous</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="{{ next }}">Next</a>
                </li>
              </ul>
            </nav>
        </div>
        <div class="row">
            {% for name, mode in mode_dict.items %}
                
                {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                    </div><div class="row">
                {% endif %}
                
                <div class="col s4">
                    <table>
                        <thead>
                        <tr>
                            <th scope="row" class="text-center" colspan="5">
                                {{ month }} {{ year }} - {{ name }}
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for tr in mode.transactions %}
                                <tr>
                                    <td>{{ tr.date }}</td>
                                    <td class="{% if tr.is_deposited %}text-success{% else %}text-danger{% endif %}">
                                        {{ tr.amount|intcomma|cut:"-" }}
                                    </td>
                                </tr>

                                
                            {% endfor %}
                        
                            <tr>
                            <th scope="row">Total</th>
                            <th scope="row"
                                class="{% if mode.sum > 0 %}text-success{% else %}text-danger{% endif %}">
                                {{ mode.sum|floatformat:2|intcomma|cut:"-" }}
                            </th>
                            </tr>
                            <tr>
                            <td>OB</td>
                                <td class="{% if mode.ob > 0 %}text-success{% else %}text-danger{% endif %}">
                                    {{ mode.ob|intcomma|cut:"-" }}
                                </td>
                            </tr>
                            <tr class="bg-info">
                            <th scope="row">CB</th>
                            <th scope="row"
                                class="{% if mode.sum > 0 %}text-success{% else %}text-danger{% endif %}">
                                {{ mode.cb|floatformat:2|intcomma|cut:"-" }}
                            </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(function() {
            const datePickerEl = $('.date-picker');
            datePickerEl.datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                defaultDate: new Date(),
                onClose: function(dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                }
            });
            datePickerEl.datepicker( "setDate", new Date() );
        });
        $( document ).ready(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}