{% extends "base.html" %}
{% load sum_attributes %}
{% load date_time %}
{% load humanize %}
{% load static %}
{% load tz %}

{% block title %}Home{% endblock %}

{% block content %}
    <div>
        <table>
            <thead>
            <tr>
                <th class="center-align" colspan="5">{{ month }} {{ year }} - Expenses</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Expense</th>
                <th>Sum</th>
            </tr>
            </thead>
            <tbody>
            {% for date, expense in expenses.items %}
                {% if expense %}
                    {% for obj in expense %}
                        <tr class="{% if date|is_today %}amber lighten-4{% endif %}">
                            {% if forloop.first %}
                                <td rowspan="{{ expense|length }}" class="center-align" style="vertical-align: middle;">
                                    {{ obj.transaction.date|date:"D, M d, Y" }}
                                </td>
                            {% endif %}
                            <td class="tooltipped" data-position="bottom" data-tooltip="{{ obj.transaction.comment }}">
                                <i class="{{ obj.icon }}"></i>
                                {{ obj.item }}
                                {% if obj.transaction.comment %}
                                    <i class="material-icons right">info</i>
                                {% endif %}
                            </td>
                            <td class="{% if obj.transaction.is_deposited %}green-text{% else %}red-text{% endif %}">
                                {{ obj.transaction.amount|intcomma }}
                            </td>
                            {% if forloop.first %}
                                <td rowspan="{{ expense|length }}" style="vertical-align: middle;">
                                    {% sum_attribute expense %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="{% if date|is_today %}amber lighten-4{% endif %}">
                        <td>{{ date|date:"D, M d, Y" }}</td>
                        <td></td>
                        <td>0.00</td>
                        <td>0.00</td>
                    </tr>
                {% endif %}

                {% if forloop.last %}
                    <tr>
                        <td colspan="3" class="center-align">Total</td>
                        <td class="{% if total_expense > 0 %}green-text{% else %}red-text{% endif %}">
                            {{ total_expense|intcomma|cut:"-" }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block secondary_content %}
    <div>
        <table>
            <thead>
            <tr>
                <th class="center-align" colspan="2">{{ month }} {{ year }}</th>
            </tr>
            <tr>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for name, mode in mode_dict.items %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ mode.cb|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ total|floatformat:2|intcomma }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


<script>
    // Initialize Materialize tooltips for comments
    document.addEventListener('DOMContentLoaded', function () {
        var tooltips = document.querySelectorAll('.tooltipped');
        M.Tooltip.init(tooltips);
    });
</script>
